/****** STYLES GENERAUX ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.main-container {
    max-width: 1440px;
    padding: 20px;

}
.fa-solid {
    color: var(--main-color);
}

.fa-person::before {
    font-size: 1.35em;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 24px;
}

.card {
    border-radius: 20px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit:cover ;
}

body {
    line-height:normal ;
}

.neutral-star {
    color: var(--main-bg-color)
}
.euro {
    font-weight: bold;
}



/****** STYLES DU HEADER ***********/

.header {
    background-color: white;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;  
}
nav img {
    width: 61.09px;
    height: 19px;
}
nav .nav-links {
    width: 30%;
    display: flex;
    justify-content: space-around;
}
nav .nav-links a {
    width: 50%;
    text-align: center;
}
nav .nav-links a:hover {
    color: #0065FC;
    text-decoration: overline blue ;
}



/****** STYLES DU MAIN ***********/

main .container {
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
}
main .container .info-group .titre-de-page {
    margin: 40px 0 30px 0;
}
.info-group .titre-de-page h1 {
    margin-bottom: 0;
}
.info-group .titre-de-page p {
    margin-top: 1%;
}
.info-group .form {
    border-radius: 15px;
    padding: 0;
    display: flex;
    align-items:center;
    margin-bottom: 10px;
  }
.info-group .form i {
    border-radius: 15px 0px 0px 15px;
    padding: 2px;
    color: black;
    font-size: 18px;
  }
.info-group .form label {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 15px 0 0 15px; 
  }  
.info-group .form input[type="search"] {
    border: 1px #DEEBFF ;
    padding: 12px 16px 12px 16px;
  }
.info-group .form input[value="Marseille, France"] {
    width: 193px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
  }
.info-group .form button {
    background-color: #0065FC;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 0 12px 12px 0;
  }
  .info-group .form button i {
    display: none;
  }
.info-group .filtres {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
  }
.info-group .filtres-content button {
    border: solid 2px #D9D9D9;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.info-group .filtres-content button:hover {
    background-color: #DEEBFF;
}
.info-group .filtres-content button i {
    margin-right: 10px;
}
.info-group .filtres-content button span {
    font-weight: bold;
}
.info-group p {
    display: flex;
    align-items: center;
    gap: 10px;
}
.info-group p i {
    border: solid 2px #D9D9D9;
    border-radius: 61px;
    padding: 4px 7px 4px 7px;
    font-size: 10px;
}


/****** STYLES DES HEBERGEMENTS And POPULAIRES ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin: 20px 0 20px 0;
}



/****** STYLES DES HEBERGEMENTS ***********/

.hebergements {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
}

.hebergements-title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.hebergements-cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
}

.hebergements-cards a {
    display: flex;
    flex-wrap: wrap;
    width: 31%;
    margin-top: 33px;
}

.hebergements-cards a article {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
}

.hebergements-cards a article img {
    width: 100%;
    height: 115px;
    border-top-left-radius: 16px;
    border-top-right-radius : 16px;
}

.hebergements-cards .card-content {
    width: 100%;
    display: flex;
    flex-direction:column ;
}
.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}
.hebergements h4 {
    margin: 40px 0 0 0;
    cursor: pointer;
}



/****** STYLES DES POPULAIRES ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires .populaires-cards article {
    display: flex;
    margin-top: 33px;
    padding: 5px;
}

.populaires .populaires-cards article img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.populaires .populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires .populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires .populaires-cards .card-subtitle {
    margin: 0;
}

.populaires .populaires-cards .card-rating {
    margin-bottom: 5px;
}



/****** STYLES DES ACTIVITES ***********/

.activites {
    width: 95%;
    height: 565px;
    padding: 30px;
}
.activites-title {
    width: 100%;
}
.activites .activites-cards {
    display: flex;
    align-items:center ;
    flex-wrap: nowrap;
    justify-content:space-between;
}
.activites .activites-cards a {
    width: 23%;
}
.activites .activites-cards a article {
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    height: 439px;
    border-radius: 20px;
}
.activites .activites-cards a article img {
    width: 100%;
    height: 370px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0;
    box-sizing: border-box;
}
.activites .activites-cards .card-title {
    padding-left: 8%;
}



/****** STYLES DU FOOTER ******/

footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 98%;
    padding: 1%;
  }
  footer div {
    text-align: start;
    flex: 1;
    line-height: 1.8;
  }
  footer h2 {
    text-align: start;
    margin-top: 10px;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
  }
  footer ul li {
    margin-bottom: 5px;
  }
  footer ul li a {
    text-decoration: none;
    color: #333;
  }



  /***** STYLES POUR LES ECRANS TABLETTES******/

  @media screen and (max-width: 1024px) {
    h1, h2, .section-title {
        font-size: 20px;
    }
    .filtres h2 {
        margin-bottom: 0;
    }
    p {
        font-size: 15px;
    }
    main {
        margin-top: 40px;
    }
    nav .nav-links {
        width: 30%;
        display: flex;
    }
    nav .nav-links a {
        font-size: 14px;
        width: 45%;
    }
    .info-group .form {
        margin-top: 20px;
    }
    .form input[value="Marseille, France"] {
        width: 25%;
    }
    .info-group .filtres {
        display: flex;
        align-items: normal;
        flex-direction: column;
      } 
      .info-group .filtres-content {
        margin-bottom: 10px;
      }
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
    }
    .hebergements {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .hebergements-cards .card-title {
        font-size: 14px;
    }
    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }
    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    .populaires-cards {
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }
    .populaires-cards a {
        width: 30%;
    }
    .populaires-cards .card {
        height: 136px;
    }
    .populaires-cards img {
        width: 25%;
    }
    .populaires-cards .card-content {
        width: 75%;
    }
    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activites {
        height: auto;
    }
    .activites .activites-cards {
        width: 98%;
        margin-top: 40px;
    }
    .activites .activites-cards a article {
        height: 320px;
    }
    .activites .activites-cards a article img {
        width: 100%;
        height: 270px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 0;
        box-sizing: border-box;
    }
    .activites-cards .card-title {
        margin-top: 8px;
        font-size: 14px;
    }
    .activites-cards .card-subtitle {
        font-size: 13px;
    }
    footer {
        margin-top: 25px;
    }
  }


/***** STYLES POUR LES ECRANS MOBILES ******/

@media screen and (max-width: 767.98px) {
    body {
        margin: 0;
    }
    p {
        font-size: 15px;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    nav img {
        margin-top: 20px;
    }
    nav .nav-links {
        width: 100%;
        margin-top: 40px;
    }
    nav .nav-links a {
        width: 50%;
        padding: 15px 0;
    }
    nav .nav-links a:hover {
        color: #0065FC;
        text-decoration: none;
        border-bottom: solid #0065FC;
        
    }
    .main-container {
        padding: 0;
    }
    .info-group {
        margin: 12px;
    }
    .info-group .form {
        padding: 0;
        margin: 30px 0 15px 0;
    }
    .info-group .form label {
        padding: 14px;
    }
    .info-group .form input[value="Marseille, France"] {
        width: 100%;
        padding: 19px 16px 12px 16px;
    }
    .info-group .form button {
        padding: 14px;
        border-radius: 13px;
    }
    .info-group .form button i {
        display: inline-block;
        color: white;
    }
    .info-group .form button span {
        display: none;
    }
    .info-group .filtres {
        display: flex;
        width: 100%;
        gap: 0;
        flex-direction: column;
        align-items: start;
    }
    .info-group .filtres-content {
        width: 100%;
    }
    .info-group .filtres-content button {
        width: 49%;
        padding: 13px 3px;
        margin-bottom: 20px;
        border-radius: 90px;
        margin-right: 0;
        text-align: left;
    }
    .info-group .filtres-content button i {
        margin-left: 15%;
        margin-right: 8px;
    }
    h2 .section-title {
        font-size: 18px;
        margin: 12px 12px 0 0;
    }
    .hebergements-and-populaires section {
        padding: 0;
}
    .activites {
        padding: 0;
    }
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    .hebergements-and-populaires .populaires {
        border-radius: 0px;
    }
    .populaires-title {
        margin: 12px;
    }
    .populaires-cards {
        display:list-item ;
        margin: 12px;
    }
    .populaires .populaires-cards article {
        margin-top: 0;
        margin-bottom: 15px;
    }
    .hebergements-and-populaires .hebergements {
        background-color: white;
    }
    .hebergements-title {
        margin: 12px 12px 0 12px;
    }
    .hebergements-cards {
        display: list-item;
        margin: 12px;
    }
    .hebergements-cards a {
        width: 100%;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .hebergements h4 {
        margin-top: 10px;
    }
    .activites {
        height: auto;
        padding: 0;
    }
    .activites-title {
        width: 100%;
        margin: 15px 15px 30px 15px;
    }
    .activites .activites-cards {
        display: flex;
        flex-direction: column ;
        margin: 15px;
    }
    .activites .activites-cards a {
        width: 100%;
    }
    .activites .activites-cards a article {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .activites .activites-cards a article img {
        width: 100%;
        height: 140px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 0;
        box-sizing: border-box;
    }
    .activites .activites-cards .card-title {
        margin-top: 19px;
        margin-bottom: 19px;
        font-size: 15px;
        padding-left: 5%;
    }
    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin-top: 40px;
      }
      footer div {
        text-align: start;
        flex: 1;
        margin: 10px 15px 15px 15px
      }
      footer h2 {
        margin: 10px 0 5px 0;
      }
      footer ul {
        margin: 0;
      }
}